**Задание 1**

Определите распределение зарплат в компании Тинькофф по сведениям сайта hh

In [1]:
import pandas as pd
import json
with open('data.txt', encoding='utf8') as data:
    file = data.readlines()
lst = [json.loads(x) for x in file if 'index' not in x]
df = pd.DataFrame(lst)

In [2]:
VacancyWage = df[["vacancy","income","region"]][df["income"] != "не указан"].drop_duplicates().sort_values(by = 'income')
VacancyWage

,vacancy,income,region
1740,Координатор в тренинг-центр,до 40 000 руб.,Москва
1371,Младший специалист кадрового делопроизводства,до 41 000 руб.,Москва
1528,Тренер группы обучения,до 55 000 руб.,Нижний Новгород
1551,Тренер группы обучения,до 55 000 руб.,Липецк
1553,Тренер группы обучения,до 55 000 руб.,Тольятти
...,...,...,...
490,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Кемерово
491,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Калуга
492,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Саратов
1502,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Киров
767,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Липецк

In [3]:
VacancyWage["vacancy"].value_counts()

Агент по доставке продуктов Тинькофф                           156
Представитель Тинькофф                                         109
Консультант по работе с клиентами                               48
Представитель Тинькофф Банка                                    47
Специалист по развитию агентской сети                           41
                                                              ...
Продавец-консультант в ТРЦ Мега Тёплый Стан                      1
Менеджер страхования                                             1
Менеджер по привлечению партнеров                                1
Специалист проверки надежности клиентов (отдел верификации)      1
Менеджер по продажам в офисе (юридические лица)                  1
Name: vacancy, Length: 175, dtype: int64

**Задание 2**

Провести анализ частоты запросов к сайту по версии Яндекс.Метрики:

In [4]:
import pandas as pd
import pymorphy2
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stat/yandex-stat-q.csv"
mAnaliz = pymorphy2.MorphAnalyzer()
df = pd.read_csv(url)
df.head()

,Поисковая фраза,Поисковая система,Визиты,Посетители,Отказы,Глубина просмотра,Время на сайте
0,Итого и средние,NaN,72394,57803,0.120328,1.298934,00:01:18
1,pycode.ru,Яндекс,2068,1225,0.093810,1.674565,00:01:38
2,холопов алексей васильевич,Яндекс,1240,467,0.082258,1.941129,00:03:53
3,золотое правило дидактики,Яндекс,778,751,0.082262,1.087404,00:00:41
4,золотое правило дидактики я.а коменского,Яндекс,743,724,0.068641,1.044415,00:00:31

Определите статистику встречаемости отдельных слов в поисковых фразах

In [5]:
from matplotlib import pyplot as plt
%matplotlib inline
lst = [j for i, j in enumerate(df["Поисковая фраза"].str.lower())]
spltlst = list(map(lambda x: x.split(), lst))
clist = [mAnaliz.parse(x)[0].normal_form for sl in spltlst for x in sl]
exp = pd.Series(clist)
print('Слова, которые встречаются более 1000 раз:\n',exp.value_counts()[exp.value_counts()>1000])

Слова, которые встречаются более 1000 раз:
 тезис             6848
в                 6048
на                4974
конференция       4726
по                4234
научный           3992
как               3746
работа            3345
для               3093
и                 3080
информационный    3040
пример            2991
безопасность      2721
к                 2518
правило           1906
практика          1829
что               1730
доклад            1586
статья            1463
о                 1461
золотой           1442
отчёт             1344
дидактика         1148
кейс              1125
какой             1080
студент           1047
с                 1030
выступление       1005
dtype: int64