In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')

**Определите среднюю з.п. по данным в рублях**

In [2]:
ruble_wage = df[df['З/п в валюте найма'].str.contains('₽')]
meanWage = ruble_wage['З/п в валюте найма'].str.translate(str.maketrans({'₽': '', ',': '.', '\xa0': ''})).astype(float).mean()
print('Средняя зарплата составляет: ', meanWage)

Средняя зарплата составляет:  190669.89488372093

**Определите технологию с максимальной з.п. по данным в рублях**

In [3]:
print(ruble_wage.groupby(['Технология'])['З/п в валюте найма'].max().sort_values(ascending=False).index[0])

QA

**Определите возраст программистов с максимальной з.п. по данным в рублях**

In [4]:
print('Возраст програмистов с макисмальной з.п.: ', ruble_wage.groupby(['Дата рождения'])['З/п в валюте найма'].max().sort_values(ascending=False).index[0])

Возраст програмистов с макисмальной з.п.:  16.03.1986

**Определите зарплаты работников, у которых в названии вакансии встречается слово Engineer**

In [5]:
df[df['Вакансия'].str.contains('Engineer')][['Вакансия','З/п в валюте найма']]

                     Вакансия З/п в валюте найма
4      QA Automation Engineer       172 413,00 ₽
9               Java Engineer        9 500,00 zł
11              .NET Engineer       12 000,00 zł
12        JavaScript Engineer       10 500,00 zł
13          Software Engineer        9 500,00 zł
18   Senior Software Engineer       200 000,00 ₽
19                QA Engineer       135 000,00 ₽
37        JavaScript Engineer       13 000,00 zł
38   Senior Software Engineer        lev6 446,00
39   Test Automation Engineer       Ft650 000,00
54              .NET Engineer       80 000,00 Kč